@charset "utf-8";
span{
    display: block;
}
ul,ol{
    list-style: none;
    margin:0;
    padding: 0;
}
body{
    margin: 0 auto;
}
/* .weekday{
    width: 1200px;
    height: 150px;
    margin: 0 auto;
}
.onair{
    width: 1200px;
    height: 450px;
    background-color: purple;
    margin: 0 auto;
}
.adBanner{
    width: 1200px;
    height: 140px;
    background-color: orange;
    margin: 0 auto;
}
.newContents{
    width:1200px;
    height: 400px;
    background-color: gray;
    margin: 0 auto;
}
*/


